<h5>Registers </h5>
<div style="margin-bottom:6px;">
  <div class="register-line">
    <div class="register">
      <div class="register-name" title="General Purpose Register A"><span>A</span></div>
      <div class="source-code register-value-byte"><span>0000</span></div>
    </div>
    <div class="register">
      <div class="register-name" title="General Purpose Register B"><span>B </span></div>
      <div class="source-code register-value-byte"><span>0000</span></div>
    </div>
    <div class="register">
      <div class="register-name" title="General Purpose Register C"><span>C </span></div>
      <div class="source-code register-value-byte"><span>0000</span></div>
    </div>
    <div class="register">
      <div class="register-name" title="General Purpose Register D"><span>D </span></div>
      <div class="source-code register-value-byte"><span>0000</span></div>
    </div>
  </div>
  <div class="register-line" style="height: 38px">
    <div class="register">
      <div class="register-name" style="font-size:14px; padding-right:4px" title="Instruction Pointer Register"><span>IP </span></div>
      <div class="source-code register-value-byte"><span>0000 </span></div>
    </div>
    <div class="register" style="margin-right:0px;">
      <div class="register-name" style="font-size:14px;padding-right:4px;padding-left:0px" title="Stack Pointer Register"><span>SP </span></div>
      <div class="source-code register-value-byte"><span>0000 </span></div>
    </div>
    <div class="status-register">
      <div class="register-name" style="font-size:14px;padding-left:8px;padding-right:5px;padding-bottom:16px;margin-right:6px;width:34px" title="Status Register"><span>SR </span></div>
      <div class="source-code status-register-bit">
        <div class="status-register-bit-label" style="font-weight:700;" title="Supervisor Mode Bit"><small class="very-small">S </small></div>
        <div class="status-register-bit-value"><span>0</span></div>
      </div>
      <div class="source-code status-register-bit">
        <div class="status-register-bit-label"><small class="very-small">-</small></div>
        <div class="status-register-bit-value"><span>0</span></div>
      </div>
      <div class="source-code status-register-bit">
        <div class="status-register-bit-label"><small class="very-small">-</small></div>
        <div class="status-register-bit-value"><span>0</span></div>
      </div>
      <div class="source-code status-register-bit">
        <div class="status-register-bit-label"><small class="very-small">-</small></div>
        <div class="status-register-bit-value"><span>0</span></div>
      </div>
      <div class="source-code status-register-bit">
        <div class="status-register-bit-label"><small class="very-small">-</small></div>
        <div class="status-register-bit-value"><span>0</span></div>
      </div>
      <div class="source-code status-register-bit">
        <div class="status-register-bit-label"><small class="very-small">-</small></div>
        <div class="status-register-bit-value"><span>0</span></div>
      </div>
      <div class="source-code status-register-bit">
        <div class="status-register-bit-label"><small class="very-small">-</small></div>
        <div class="status-register-bit-value"><span>0</span></div>
      </div>
      <div class="source-code status-register-bit">
        <div class="status-register-bit-label"><small class="very-small">-</small></div>
        <div class="status-register-bit-value"><span>0</span></div>
      </div>
      <div class="source-code status-register-bit">
        <div class="status-register-bit-label"><small class="very-small">-</small></div>
        <div class="status-register-bit-value"><span>0</span></div>
      </div>
      <div class="source-code status-register-bit">
        <div class="status-register-bit-label"><small class="very-small">-</small></div>
        <div class="status-register-bit-value"><span>0</span></div>
      </div>
      <div class="source-code status-register-bit">
        <div class="status-register-bit-label"><small class="very-small">- </small></div>
        <div class="status-register-bit-value"><span>0</span></div>
      </div>
      <div class="source-code status-register-bit">
        <div class="status-register-bit-label"><small class="very-small">- </small></div>
        <div class="status-register-bit-value"><span>0</span></div>
      </div>
      <div class="source-code status-register-bit">
        <div class="status-register-bit-label" style="font-weight:700;" title="Interrupt Mask Bit"><small class="very-small">M </small></div>
        <div class="status-register-bit-value"><span>0</span></div>
      </div>
      <div class="source-code status-register-bit">
        <div class="status-register-bit-label" style="font-weight:700;" title="Carry Flag Bit"><small class="very-small">C </small></div>
        <div class="status-register-bit-value"><span>0</span></div>
      </div>
      <div class="source-code status-register-bit">
        <div class="status-register-bit-label" style="font-weight:700;" title="Zero Flag Bit"><small class="very-small">Z </small></div>
        <div class="status-register-bit-value"><span>0</span></div>
      </div>
      <div class="source-code status-register-bit">
        <div class="status-register-bit-label" style="font-weight:700;" title="Fault Flag Bit"><small class="very-small">F </small></div>
        <div class="status-register-bit-value"><span>0</span></div>
      </div>
    </div>
  </div>
</div>
