<p-panel header="Input / Output Registers" styleClass="ioregisters-panel">
  <div class="ioregisters-container">
    <p-table [value]="registerAddresses.sort()">
  <ng-template pTemplate="header">
    <tr>
      <th>Address</th>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-address>
    <tr class="source-code">
      <td>{{registersViewMap.get(address).strAddress}}</td>
      <td title="{{registersViewMap.get(address).description}}">{{registersViewMap.get(address).name}}</td>
      <td>{{registersViewMap.get(address).strValue}}</td>
    </tr>
  </ng-template>
</p-table>
  </div>
</p-panel>
