<p-panel styleClass="ioregisters-panel">
  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-panel-title" style="display:inline-block">Events Log</span>
      <div class="panel-header-btn-group">
      <p-multiSelect [disabled]="!enableLogging" appendTo="body" defaultLabel="Logging Sources" [displaySelectedLabel]="false" [showHeader]="false" [options]="loggingSources" [(ngModel)]="selectedSources" styleClass="ui-multiselect-small">
      </p-multiSelect>
      <p-toggleButton [(ngModel)]="enableLogging" onLabel="Enabled" offLabel="Disabled" styleClass="ui-button-small"></p-toggleButton>
      <p-button label="Clear" (onClick)="clearLogLines()" styleClass="ui-button-small"></p-button>
      </div>
    </div>
  </p-header>

<div #logLinesContainer class="list-group events-log-list">
  <div #logLinesItems *ngFor="let i of logLines" class="list-group-item source-code event" [ngClass]="i.style">
    {{i.text}}
  </div>
</div>
<div [ngClass]="{'muted': isRunning === true || enableLogging === false}">
</div>
</p-panel>
