<h5>Keypad </h5>
<div style="width:116px;height:128px;margin:auto;padding-top:4px;padding-bottom:4px;padding-right:7px;padding-left:7px;">
  <div class="input-btn-row">
    <button class="btn btn-default input-btn" type="button" id="input1">1</button>
    <button class="btn btn-default input-btn" type="button" id="input2">2</button>
    <button class="btn btn-default input-btn" type="button" id="input3">3</button>
  </div>
  <div class="input-btn-row">
    <button class="btn btn-default input-btn" type="button" id="input4">4</button>
    <button class="btn btn-default input-btn" type="button" id="input5">5</button>
    <button class="btn btn-default input-btn" type="button" id="input6">6</button>
  </div>
  <div class="input-btn-row">
    <button class="btn btn-default input-btn" type="button" id="input7">7</button>
    <button class="btn btn-default input-btn" type="button" id="input8">8</button>
    <button class="btn btn-default input-btn" type="button" id="input9">9</button>
  </div>
  <div class="input-btn-row" style="padding-left:34px;padding-right:34px;">
    <button class="btn btn-default input-btn" type="button" id="input0">0</button>
  </div>
</div>
