<div class="input-keypad">
  <div class="input-btn-row">
    <p-button styleClass="ui-button-secondary input-btn" label="1" id="input1" (click)="processKey('1')"></p-button><p-button styleClass="ui-button-secondary input-btn" label="2" id="input2" (click)="processKey('2')"></p-button><p-button styleClass="ui-button-secondary input-btn" label="3" id="input3" (click)="processKey('3')"></p-button>
  </div>
  <div class="input-btn-row">
    <p-button styleClass="ui-button-secondary input-btn" label="4" id="input4" (click)="processKey('4')"></p-button><p-button styleClass="ui-button-secondary input-btn" label="5" id="input5" (click)="processKey('5')"></p-button><p-button styleClass="ui-button-secondary input-btn" label="6" id="input6" (click)="processKey('6')"></p-button>
  </div>
  <div class="input-btn-row">
    <p-button styleClass="ui-button-secondary input-btn" label="7" id="input7" (click)="processKey('7')"></p-button><p-button styleClass="ui-button-secondary input-btn" label="8" id="input8" (click)="processKey('8')"></p-button><p-button styleClass="ui-button-secondary input-btn" label="9" id="input9" (click)="processKey('9')"></p-button>
  </div>
  <div class="input-btn-row">
    <p-button styleClass="ui-button-secondary input-btn" label="*" id="inputAsterisk" (click)="processKey('*')"></p-button><p-button styleClass="ui-button-secondary input-btn" label="0" id="input0" (click)="processKey('0')"></p-button><p-button styleClass="ui-button-secondary input-btn" label="#" id="inputHash" (click)="processKey('#')"></p-button>
  </div>
</div>
