<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header"><a class="navbar-brand navbar-link" href="#">16-bit Assembler Simulator</a></div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Code</h3></div>
        <div class="panel-body">
          <h4>Code</h4>
          <form>
            <textarea name="code" [(ngModel)]="code" class="form-control source-code" rows="35" style="margin-bottom:10px;resize:none;"></textarea>
            <button class="btn btn-default btn-secondary" type="button" style="background-image:none;">Assemble </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Input / Output </h3></div>
        <div class="panel-body">
          <div style="width:60%;display:inline-block;float:left;text-align:center;">
            <app-visual-display></app-visual-display>
            <app-textual-display></app-textual-display>
          </div>
          <div style="width:40%;display:inline-block;text-align:center;">
          <app-keypad></app-keypad>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">CPU &amp; Memory</h3></div>
        <div class="panel-body">
          <app-registers-view></app-registers-view>
          <app-memory-view></app-memory-view>
          <div class="small" style="margin-top:10px;"><span>Clock speed: </span>
            <select>
              <optgroup label="This is a group">
                <option value="12">1 HZ</option>
                <option value="13" selected="">4 HZ</option>
                <option value="14">8 HZ</option>
              </optgroup>
            </select><span style="margin-left:5px;">Instructions: </span><a href="#">Hide </a><span style="margin-left:5px;">View </span><a href="#">Decimal </a></div>
          <div class="small"><span>Register addressing: </span><span style="margin-left:5px;">A: </span><a href="#">Show </a><span style="margin-left:5px;">B: </span><a href="#">Show </a><span style="margin-left:5px;">C: </span><a href="#">Show </a><span style="margin-left:5px;">D: </span>
            <a
              href="#">Show </a>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Labels</h3></div>
        <div class="panel-body">
          <h4>Labels </h4>
          <div>
            <table class="table table-striped table-condensed codelabel">
              <thead>
              <tr>
                <th>Name </th>
                <th>Address </th>
                <th>Value </th>
              </tr>
              </thead>
              <tbody class="source-code">
              <tr>
                <td>.loop </td>
                <td><a href="#">1F </a></td>
                <td>03 </td>
              </tr>
              <tr>
                <td>hello </td>
                <td><a href="#">02 </a></td>
                <td>48 ('H') </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
