<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="nav navbar-nav">
      <div class="btn-group">
        <button type="button" class="btn btn-success navbar-btn" (click)="run()" *ngIf="!isRunning"><span class="glyphicon glyphicon-play"></span> Run</button>
        <button type="button" class="btn btn-default navbar-btn" (click)="stop()" *ngIf="isRunning"><span class="glyphicon glyphicon-stop"></span> Stop</button>
        <button type="button" class="btn btn-default navbar-btn" (click)="executeStep()" [disabled]="isRunning"><span class="glyphicon glyphicon-forward"></span> Step</button>
      </div>
      <button type="button" class="btn btn-default navbar-btn" (click)="reset()">Reset</button>
    </div>
    <div class="nav navbar-nav navbar-right"><a class="navbar-brand navbar-link" href="#">16-bit Assembler Simulator</a></div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Code <small>(<a (click)="setCodeSample(1)">Sample 1</a>, <a (click)="setCodeSample(2)">Sample 2</a>, <a (click)="setCodeSample(3)">Sample 3</a>, <a (click)="setCodeSample(4)">Sample 4</a>, <a (click)="setCodeSample(5)">Sample 5</a>)</small></h4>
          <form>
            <textarea #codeTextArea name="code" class="source-code"></textarea>
            <button class="btn btn-default btn-secondary" type="button" style="background-image:none;" (click)="assemble()">Assemble </button>
          </form>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body" style="padding-bottom: 10px">
          <app-events-log-viewer [isRunning]="isRunning"></app-events-log-viewer>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <div style="width:60%;display:inline-block;float:left;text-align:center;">
            <app-visual-display></app-visual-display>
            <app-textual-display></app-textual-display>
          </div>
          <div style="width:40%;display:inline-block;text-align:center;">
          <app-keypad></app-keypad>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <app-registers-view [displayA]="displayA" [displayB]="displayB" [displayC]="displayC" [displayD]="displayD"></app-registers-view>
          <app-memory-view [mapping]="mapping" [displayA]="displayA" [displayB]="displayB" [displayC]="displayC" [displayD]="displayD" [showInstructions]="showInstructions" (onMemoryCellClick)="memoryCellClick($event)"></app-memory-view>
          <div class="small" style="margin-top:10px;"><span>Clock speed: </span>
            <select [(ngModel)]="speed" title="CPU Speed">
              <option [ngValue]="0">4 HZ</option>
              <option [ngValue]="1">16 HZ</option>
              <option [ngValue]="2">64 HZ</option>
              <option [ngValue]="3">256 HZ</option>
              <option [ngValue]="4">1 KHZ</option>
              <option [ngValue]="5">4 KHZ</option>
            </select><span style="margin-left:5px;">Instructions: </span><a (click)="showInstructions = false" *ngIf="showInstructions === true">Hide</a><a (click)="showInstructions = true" *ngIf="showInstructions === false">Show</a></div>
          <div class="small" style="margin-bottom: 20px;"><span>Register addressing: </span>
            <span style="margin-left:5px;">A: </span>
            <a *ngIf="displayA === false" (click)="displayA = true">Show</a>
            <a *ngIf="displayA === true" (click)="displayA = false">Hide</a>
            <span style="margin-left:5px;">B: </span>
            <a *ngIf="displayB === false" (click)="displayB = true">Show</a>
            <a *ngIf="displayB === true" (click)="displayB = false">Hide</a>
            <span style="margin-left:5px;">C: </span>
            <a *ngIf="displayC === false" (click)="displayC = true">Show</a>
            <a *ngIf="displayC === true" (click)="displayC = false">Hide</a>
            <span style="margin-left:5px;">D: </span>
            <a *ngIf="displayD === false" (click)="displayD = true">Show</a>
            <a *ngIf="displayD === true" (click)="displayD = false">Hide</a>
          </div>
          <app-ioregisters-view></app-ioregisters-view>
        </div>
      </div>
    </div>
  </div>
  <hr style="margin-top:10px;margin-bottom:10px;"/>
  <p><small>by Pablo Parra (2017-2018) | MIT License</small></p>
</div>
<app-error-bar></app-error-bar>
