<p-panel styleClass="memory-view-panel">
  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-panel-title" style="display:inline-block;">Memory</span>
      <div class="panel-header-btn-group">
        <p-toggleButton [(ngModel)]="splitMemoryArea" onLabel="Split" offLabel="Split" styleClass="ui-button-small"></p-toggleButton>
      </div>
    </div>
  </p-header>
<div class="memory-map">
  <div class="text-muted memory-index-lsb-bar">
    <div *ngFor="let i of memoryColsIndexes" class="memory-index-lsb"><small>{{i}}</small></div>
  </div>
  <div class="memory-area" [ngClass]="{'splitted-top': splitMemoryArea}">
    <div class="text-muted memory-index-msb-bar">
      <div class="memory-index-msb" *ngFor="let i of memoryRowsIndexes"><small>{{i}}</small></div>
    </div>
    <div class="source-code memory-content">
      <div class="memory-block"  *ngFor="let i of memoryCellViews; let j = index" (click)="memoryCellClick($event, 0, j)" [ngClass]="i.style">
        <div *ngIf="editingCell[0] !== j && i.isInstruction === false">
          <small>{{i.strValue}}</small>
        </div>
        <a *ngIf="editingCell[0] !== j && i.isInstruction === true">
          <small>{{i.strValue}}</small>
        </a>
        <input class="memory-cell-input" *ngIf="editingCell[0] === j" appAutofocus [(ngModel)]="newCellValue" (keyup.escape)="editingCell[0] = -1" (keyup.enter)="setCellValue(0, j)" (blur)="editingCell[0] = -1" title="New cell value">
      </div>
    </div>
  </div>
  <div class="memory-area splitted-bottom" *ngIf="splitMemoryArea">
    <div class="text-muted memory-index-msb-bar">
      <div class="memory-index-msb" *ngFor="let i of memoryRowsIndexes"><small>{{i}}</small></div>
    </div>
    <div class="source-code memory-content">
      <div class="memory-block"  *ngFor="let i of memoryCellViews; let j = index" (click)="memoryCellClick($event, 1, j)" [ngClass]="i.style">
        <div *ngIf="editingCell[1] !== j && i.isInstruction === false">
          <small>{{i.strValue}}</small>
        </div>
        <a *ngIf="editingCell[1] !== j && i.isInstruction === true">
          <small>{{i.strValue}}</small>
        </a>
        <input class="memory-cell-input" *ngIf="editingCell[1] === j" appAutofocus [(ngModel)]="newCellValue" (keyup.escape)="editingCell[1] = -1" (keyup.enter)="setCellValue(1, j)" (blur)="editingCell[1] = -1" title="New cell value">
      </div>
    </div>
  </div>
  <p-messages></p-messages>
</div>
</p-panel>
