<h5>Memory</h5>
<div class="memory-map">
  <div class="text-muted memory-index-lsb-bar">
    <div *ngFor="let i of memoryColsIndexes" class="memory-index-lsb"><small>{{i}}</small></div>
  </div>
  <div class="memory-area">
    <div class="text-muted memory-index-msb-bar">
      <div class="memory-index-msb" *ngFor="let i of memoryRowsIndexes"><small>{{i}}</small></div>
    </div>
    <div class="source-code memory-content">
      <div class="memory-block"  *ngFor="let i of memoryCellViews; let j = index" (click)="memoryCellClick($event, j)" [ngClass]="i.style">
        <div *ngIf="editingCell !== j && i.isInstruction === false">
          <small>{{i.dataValue}}</small>
        </div>
        <a *ngIf="editingCell !== j && i.isInstruction === true">
          <small>{{i.dataValue}}</small>
        </a>
        <input class="memory-cell-input" *ngIf="editingCell === j" appAutofocus [(ngModel)]="newCellValue" (keyup.escape)="editingCell = -1" (keyup.enter)="setCellValue(j)" (blur)="editingCell = -1" title="New cell value">
      </div>
    </div>
  </div>
</div>
