
a {
  cursor: pointer;
}

.registers-container {
  height: 100%;
  width: 100%;
}

.ioregisters-container {
  height: 100%;
  width: 100%;
}

.registers-panel {
  height: 100%;
  border: none;
}

.ioregisters-panel {
  height: 100%;
  border: none;
}

.memory-view-panel {
  height: 100%;
  border: none;
}

.registers-content {
  padding: 10px 0 2px 5px;
}

.main-container {
  height: 100%;
  width: 100%;
  padding-top: 37px;
}

.left-pane {
  height: 100%;
  width: calc(100% - 432px);
  float: left;
  overflow-x: hidden;
  border-right: 1px solid #cccccc;
}

.left-pane.with-center-pane {
  width: calc(100% - 432px - 432px);
}

.center-pane {
  height: 100%;
  width: 432px;
  float: left;
  border-right: 1px solid #cccccc;
}

.memory-view-container {
  height: 100%;
}

.events-log-viewer-container {
  height: 100%;
}

.right-pane {
  height: 100%;
  width: 432px;
  float: left;
}

.panel-header-btn-group {
  position: absolute;
  right: 10px;
  top: 2px;
  height: 20px;
  display: inline-block;
}

.source-code {
  font-family:'Source Code Pro', monospace;
}

.input-keypad {
  margin: auto;
  padding-right: 7px;
  font-size: 90%;
}

.input-btn {
  clear:none;
  font-family:'Source Code Pro', monospace !important;
  background-image:none;
  display:inline-block;
  padding-bottom:4px;
  padding-top:4px;
  margin: 0;
  text-align: center;
  width:34px;
}

.input-btn-row {
  text-align:center;
}

.visual-output {
  border: 1px solid rgb(221, 221, 221);
  width:98px;
  height:98px;
  margin: 0 auto 12px auto;
}

.memory-index-lsb {
  width:24px;
  display:inline-block;
  border-left: 1px solid rgb(221, 221, 221);
}

.memory-index-lsb-bar {
  padding-left: 13px;
  text-align:center;
  font-weight: 700;
  width: 100%;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.memory-map {
  position: relative;
  width:100%;
  height: 100%;
  background-color: rgb(250, 250, 251);
}

.memory-content {
  float:left;
  width:384px;
}

.memory-block {
  width:24px;
  height: 20px;
  display:inline-block;
  text-align:center;
  float:left;
  box-sizing: border-box;
  border-left: 1px solid rgb(221, 221, 221);
  padding: 0;
  background-color: #ffffff;
}

.memory-cell-input {
  font-size: 80%;
  padding: 0;
  display: block;
  border: 1px solid #66AFE9;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  text-align: inherit;
  color: #333;
}

.memory-cell-input:focus {
  outline: none;
}

.memory-index-msb-bar {
  float: left;
  width: 28px;
  text-align:center;
}

.memory-area {
  padding-left: 2px;
  overflow-y:auto;
  height: calc(100% - 21px);
}

.memory-area.splitted-top {
  height: calc(50% - 11px);
  border-bottom: 2px solid rgb(221, 221, 221);
}

.memory-area.splitted-bottom {
  height: calc(50% - 11px);
}

.memory-index-msb {
  width:28px;
  height:20px;
  line-height:20px;
}

.register-name {
  background-color:white;
  font-size:14px;
  font-weight:700;
  display:inline-block;
  float:left;
  margin-right:4px;
  padding-right:6px;
  padding-left:5px;
  line-height:22px;
  width:25px;
  border-right: 2px solid rgb(221, 221, 221);
}

.sp-register-name {
  width: 34px;
  padding-right:4px;
  padding-left: 0
}

.very-small {
  font-size:65%;
}

.register {
  width:75px;
  background-color:rgb(249, 249, 249);
  float:left;
  margin-right:14px;
}

.sp-register {
  width: 84px;
}

.register-value-byte {
  float:left;
  text-align:center;
  line-height:18px;
  font-size:14px;
  margin-top: 2px;
  padding-left: 3px;
  padding-right: 3px;
}

.register-value-bitmap, .status-register-bit-label {
  line-height:20px;
}

.register-line {
  height:22px;
  margin-bottom:4px;
}

.status-register {
  width:240px;
  height:48px;
  background-color:rgb(249, 249, 249);
  float:left;
}

.status-register-bit {
  float:left;
  width:12px;
  text-align:center;
}

.status-register-bit-value {
  line-height:20px;
  padding-bottom:8px;
}

.output-display {
  width:240px;
  height: 42px;
  margin: 0 auto 0 auto;
}

.output-char {
  background-color:#DFDFDF;
  width:14px;
  display:inline-block;
  text-align:center;
  margin-right:1px;
  margin-bottom: 1px;
  float:left;
}

body {
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

.simulator-screen {
  height: 100%;
  position: relative;
}

@media (min-width: 1px) {
  .simulator-screen {
    width: 991px;
  }
}

@media (min-width: 991px) {
  .simulator-screen {
    width: 100%;
  }
}

.instr-bg {
  background-color: #E6F3FF;
}

.instr-bg a {
  color: inherit;
  cursor: pointer;
}

.usp-stack-bg {
  background-color: #F8DCB4;
}

.ssp-stack-bg {
  background-color: #f8d0e8;
}

.marker {
  color: #FFF;
  border-radius: 2px;
}

.marker-ip {
  background-color: #428BCA;
}

.marker a {
  color: inherit;
  cursor: pointer;
}

.marker-ssp {
  background-color: #ee7cb2;
}

.marker-usp {
  background-color: #EEA236;
}

.marker-a {
  background-color: #4D8C20;
}

.marker-b {
  background-color: #22D19D;
}

.marker-c {
  background-color: #A137ED;
}

.marker-d {
  background-color: #E81F1F;
}

.error-bar {
  position: fixed;
  bottom: 0;
  top: auto;
  width: 100%;
  z-index: 10;
  margin-bottom: 0;
  background: white;
}

.visual-display-region {
  background-color: #fff2f0;
}

.textual-display-region {
  background-color: #ffffe0;
}

.CodeMirror {
  font-family:'Source Code Pro', monospace;
  height: 100%;
  position: relative;
}

.breakpoints {
  width: 12px;
}

.events-log-list {
  overflow: auto;
  white-space: nowrap;
  height: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 100%;
}

.event {
  height: 20px;
  padding: 4px 8px;
  line-height: 12px;
  font-size: 80%;
  border: none;
  font-weight: 700;
}

.event-enabler {
  text-decoration: line-through;
}

.event-enabler.enabled {
  text-decoration: none;
}

.muted {
  filter: alpha(opacity=65);
  opacity: .65;
}

.memory-event {
  color: orchid;
}

.control-unit-event {
  color: #E67E22;
}

.cpuregister-event {
  color: #22D19D;
}

.aluevent {
  color: #A137ED;
}

.ioregister-event {
  color: #E81F1F;
}

.irq-ctrl-event {
  color: #674c8c;
}

.timer-event {
  color: #4D8C20;
}

.textual-display-event {
  color: peru;
}

.visual-display-event {
  color: #fa8072;
}

.keypad-event {
  color: darkslateblue;
}

a[disabled] {
  pointer-events: none;
  filter: alpha(opacity=65);
  opacity: .65;
}

.ui-button-small {
  vertical-align: middle;
}

.ui-button-small > .ui-button-text {
  font-size: 65%;
}

.ui-multiselect-small {
  vertical-align: middle;
}

.ui-multiselect-items-wrapper {
  font-size: 90%;
}

.ui-multiselect-small > .ui-multiselect-label-container {
  font-size: 60%;
  padding-left: 3px;
  padding-right: 3px;
}

.ui-multiselect-small > .ui-multiselect-trigger {
  font-size: 60%;
}

.cursor-pointer {
  cursor: pointer;
}
